<div class="container">
  <div class="icon-container">
    {{ !buttonIsActive ? "loading..." : "" }}
    <fa-icon
      class="icon"
      *ngIf="buttonIsActive === true"
      [icon]="icon"
      size="10x"
    ></fa-icon>
  </div>
  <button class="button" (click)="shuffle()" [disabled]="!buttonIsActive">
    {{ buttonIsActive ? "shuffle" : "" }}
    <fa-icon
      *ngIf="buttonIsActive === false"
      [icon]="loader"
      animation="spin"
    ></fa-icon>
  </button>
</div>
<footer class="footer">
  <button
    [ngClass]="buttonIsDisableable ? 'toggled' : ''"
    class="button"
    (click)="disableButton()"
  >
    disableble
  </button>
  <div>Made by <a href="https://github.com/abezborody">Anton Bezborody</a></div>
</footer>
