/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Fira Mono", monospace;
}

body {
  background-color: #333;
}

a {
  color: #3d6aff;
  transition: filter 100ms ease-out;
}
a:hover {
  color: #567dfd;
  filter: drop-shadow(0px 0px 0.75rem #3d6aff);
}
